/* Hero Section Styles */

.hero {
	position: relative;
}

.hero::before {
	content: "";
	width: 100%;
	height: 20rem;
	position: absolute;
	top: 0;
	background-color: var(--primary-1);
	z-index: -1;
}

.hero .content {
	padding: 2rem 0;
	display: grid;
	grid-template-columns: 1fr min-content;
	gap: 10rem;
	color: white;
}

.hero .content h1 {
	color: var(--primary-2);
}

.hero .content h2,
.hero .content p {
	color: white;
}

.hero .content h2 {
	margin-bottom: 1rem;
}

.hero .content p {
	margin-bottom: 2.5rem;
}

.hero .content .img-container {
	width: 325px;
	height: 375px;
	border-radius: 1.25rem;
	overflow: hidden;
}

.hero .content .img-container img {
	width: 100%;
	object-fit: cover;
}

@media only screen and (width < 1024px) {
	.hero .content {
		padding-inline: 2rem;
		gap: 1rem;
	}
}
